<%= form_with(model: @ski_check_in, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :user_id %>

    <%= f.collection_select :user_id, User.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :ski_area_id, value: @ski_area.id %>

  <%= f.submit "Create ski check in", class: "btn btn-block btn-outline-secondary" %>
<% end %>
