<%= form_with(model: @non_ski_activity, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :description %>

    <%= f.text_field :description, class: "form-control" %>
  </div>

  <%= f.hidden_field :tagged_ski_area_id, value: @ski_area.id %>

  <div class="form-group">
    <%= f.label :title %>

    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :address %>

    <%= f.text_field :address, class: "form-control" %>
  </div>

  <%= f.submit "Create non ski activity", class: "btn btn-block btn-outline-secondary" %>
<% end %>
