<div class="row mb-3">
  <div class="col-md-12">
    <h1 class="display-4">
      Non Ski Activities

      <%= link_to new_non_ski_activity_path, class: "btn btn-lg btn-outline-secondary" do %>
        <i class="fas fa-plus fa-fw"></i>
      <% end %>
    </h1>
  </div>
</div>

  <!-- Ransack Code start -->
<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "non_ski_activities/non_ski_activities_search_form" %>
  </div>
</div>
  <!-- Ransack Code end -->

  <!-- Location Map Code start -->

  <!-- Location Map Code end -->

<!-- List group example -->

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <div class="card">
      <h1 class="card-header h4 d-flex align-items-center justify-content-between">
        Non Ski Activities

        <%= link_to new_non_ski_activity_path, class: "btn btn-sm btn-outline-secondary" do %>
          <i class="fas fa-plus fa-fw"></i>
        <% end %>
      </h1>

      <div class="list-group list-group-flush">
        <%= render collection: @non_ski_activities, partial: "list_item", as: :non_ski_activity %>
      </div>
      <div class="card-footer d-flex justify-content-center">
        <%= paginate @non_ski_activities, theme: 'twitter-bootstrap-4' %>
      </div>

    </div>
  </div>
</div>
