<% was_validated = friend.errors.any? %>

<%= form_with(model: friend, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for friend_sender_id start -->
  <div class="form-group">
    <% friend_sender_class = "form-control" %>
    <% friend_sender_was_invalid = friend.errors.include?(:friend_sender) %>

    <% if was_validated %>
      <% if friend_sender_was_invalid %>
        <% friend_sender_class << " is-invalid" %>
      <% else %>
        <% friend_sender_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :friend_sender_id %>
    <!-- Input for friend_sender_id start -->
    <%= f.number_field :friend_sender_id, class: friend_sender_class, placeholder: "Enter friend sender" %>
    <!-- Input for friend_sender_id end -->
    <% if friend_sender_was_invalid %>
      <% friend.errors.full_messages_for(:friend_sender).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for friend_sender_id end -->
  <!-- Label and input for friend_recipient_id start -->
  <div class="form-group">
    <% friend_recipient_class = "form-control" %>
    <% friend_recipient_was_invalid = friend.errors.include?(:friend_recipient) %>

    <% if was_validated %>
      <% if friend_recipient_was_invalid %>
        <% friend_recipient_class << " is-invalid" %>
      <% else %>
        <% friend_recipient_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :friend_recipient_id %>
    <!-- Input for friend_recipient_id start -->
    <%= f.number_field :friend_recipient_id, class: friend_recipient_class, placeholder: "Enter friend recipient" %>
    <!-- Input for friend_recipient_id end -->
    <% if friend_recipient_was_invalid %>
      <% friend.errors.full_messages_for(:friend_recipient).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for friend_recipient_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
