<% was_validated = friend.errors.any? %>

<%= form_with(model: friend, local: true, novalidate: true, class: "mb-3") do |f| %>
  <%= f.hidden_field :friend_sender_id, value: current_user.id %>
  <div class="form-group">
    <% friend_recipient_class = "form-control" %>
    <% friend_recipient_was_invalid = friend.errors.include?(:friend_recipient) %>

    <% if was_validated %>
      <% if friend_recipient_was_invalid %>
        <% friend_recipient_class << " is-invalid" %>
      <% else %>
        <% friend_recipient_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :friend_recipient_id %>
    <%= f.collection_select :friend_recipient_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <% if friend_recipient_was_invalid %>
      <% friend.errors.full_messages_for(:friend_recipient).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
