<%= form_with(model: @friend, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :friend_sender_id %>

    <%= f.text_field :friend_sender_id, class: "form-control" %>
  </div>

  <%= f.hidden_field :friend_recipient_id, value: @user.id %>

  <%= f.submit "Create friend", class: "btn btn-block btn-outline-secondary" %>
<% end %>
