<%= form_with(model: @ski_check_in, local: true) do |f| %>

  <%= f.hidden_field :user_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :ski_area_id %>

    <%= f.collection_select :ski_area_id, SkiArea.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create ski check in", class: "btn btn-block btn-outline-secondary" %>
<% end %>
