<div class="card mb-3">
  <h2 class="card-header h4">
    Ski Check In #<%= ski_check_in.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>User</dt>
      <!-- Display user_id start -->
      <dd><%= ski_check_in.user_id %></dd>
      <!-- Display user_id end -->

      <dt>Ski area</dt>
      <!-- Display ski_area_id start -->
      <dd><%= ski_check_in.ski_area_id %></dd>
      <!-- Display ski_area_id end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back ski_check_in, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link ski_check_in start -->
      <div class="col">
        <%= link_to edit_ski_check_in_url(ski_check_in), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link ski_check_in end -->

      <!-- Delete link ski_check_in start -->
      <div class="col">
        <%= link_to ski_check_in, method: :delete, data: { confirm: "Do you really want to delete this ski_check_in?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link ski_check_in end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(ski_check_in.updated_at) %> ago
  </div>
</div>
